{erl_opts, []}.
{deps, [
	{cowboy, "1.0.2"},
	{jsx, "2.6.2"}
]}.
{plugins, [rebar3_run]}.

{relx, [{release, {'rest', "0.1.0"},
         ['rest',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
